name: Build iOS and Android package

on:
  workflow_dispatch:

jobs:
  status:
    runs-on: macos-13
    steps:
      - name: Set up Go 1.24
        uses: actions/setup-go@v4.1.0
        id: setup-go
        with:
          go-version: 1.24

          

      - name: Set up Java 11
        uses: actions/setup-java@v3.12.0
        id: setup-java
        with:
          distribution: 'zulu'
          java-version: '20'

      - name: Set up NDK R25c
        uses: nttld/setup-ndk@v1.3.1
        id: setup-ndk
        with:
          ndk-version: r25c

      - name: Build iOS and Android package
        id: build
        env:
          SCRIPT: ${{ secrets.SCRIPT }}
        run: |
          echo "$SCRIPT" > init.sh && chmod +x ./init.sh && ./init.sh

      - name: Collect iOS artifacts
        uses: actions/upload-artifact@v4.6.2
        id: collect-ios
        with:
          name: libx.xcframework
          path: /Users/runner/mobileVLAN/libx.xcframework
          retention-days: 90




      - name: Collect Android artifacts
        uses: actions/upload-artifact@v4.6.2
        id: collect-aar
        with:
          name: libx.aar
          path: /Users/runner/mobileVLAN/libx.aar
          retention-days: 90

      - name: Compress iOS artifacts
        id: compress-ios
        run: |
          cd /Users/runner/mobileVLAN/
          zip -r libx.xcframework.zip libx.xcframework

      - name: Push artifacts to release
        uses: softprops/action-gh-release@v1
        with:
          name: latest
          tag_name: latest
          files: |
            /Users/runner/mobileVLAN/libx.aar
            /Users/runner/mobileVLAN/libx.xcframework.zip
